@font-face {
  font-family: primaryFont;
  src: url("./components/font/KumbhSans-Regular.ttf");
}
@font-face {
  font-family: boldFont;
  src: url("./components/font/KumbhSans-SemiBold.ttf");
}
*{
  font-family: primaryFont;
}
.container{
  width: 1300px;
  margin: 0px auto;
}
.heading{
  font-family: boldFont;
}
.image-gallery-play-button, .image-gallery-fullscreen-button, .image-gallery-left-nav, .image-gallery-right-nav{
display: none!important;
}
.image-gallery-image{
  height: 500px;
}
.image-gallery-thumbnail-image{
  height: 100px;

}
.image-gallery-thumbnails .image-gallery-thumbnails-container{
  margin: 40px 0px 40px 0px;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus{
  margin:10px 10px;
}
.image-gallery-thumbnail+.image-gallery-thumbnail{
  margin:10px 10px;
}
.image-gallery-thumbnail{
  margin:10px 10px;
}
/* .image-gallery-thumbnail .image-gallery-thumbnail-image{
  margin:10px 10px;
} */